In [1]:
# import necessary libraries

from bs4 import BeautifulSoup

import requests

import pandas as pd

In [2]:
books = []                                                   #create an empty list

for i in range(1,51):                                        # Loop through the 50 pagesand repeat the same process
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"

    link = requests.get(url)                                  # attach link to a variable

    print(link)

    soup = BeautifulSoup(link.text, 'html')                   # using BeautifulSoup to transform the data into html form

    ol = soup.find('ol')                                      # extrat the order list 'ol'from the data and assign to a variable

    articles = ol.find_all('article', class_='product_pod')   # the variables we need are all inside the 'article' tag under 'ol'



    for article in articles:
        image = article.find('img')                            #<img 
        title = image.attrs['alt']                             #title is embedded inside alt
        star = article.find('p')                               # star rating is within 'class' which is inside <p tag
        star = star['class'][1]                                #'1' to extract only index 1=(2)
        price = article.find('p', class_='price_color').text   #price is inside the <p tag under the class name which is 'price color' and the .text to extract the text only
        price = price[1:]
        price = float(price[1:])                               # 1: to extract only the numbers and convert to a float type
        books.append([title,price,star])                       #.append to add values into the list we created under the 'book' variable

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [3]:
df = pd.DataFrame(books, columns=['Title', 'Price', 'Star Rating'])

In [4]:
df

                                                 Title  Price Star Rating
0                                 A Light in the Attic  51.77       Three
1                                   Tipping the Velvet  53.74         One
2                                           Soumission  50.10         One
3                                        Sharp Objects  47.82        Four
4                Sapiens: A Brief History of Humankind  54.23        Five
..                                                 ...    ...         ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53         One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06        Four
997  A Spy's Devotion (The Regency Spies of London #1)  16.97        Five
998                1st to Die (Women's Murder Club #1)  53.98         One
999                 1,000 Places to See Before You Die  26.08        Five

[1000 rows x 3 columns]

In [7]:
df.to_csv(r'C:\Users\DELL\Documents\Python Tutorial\books.csv')